:local .processing {
  text-align: center;
}

:local .message {
  font-size: 2.1rem;
  margin-bottom: 20px;
}

:local .message small {
  font-size: 1.4rem;
}

:local .progressBar {
  margin: 0 auto;
  width: 80%;
}

:local(.progressBar) .progress-bar {
  min-width: 5%;
}
