:local .uploadFiles {
  border-radius: 5px;
  border: 2px dashed rgb(102, 102, 102);
  cursor: default;
  height: 200px;
  margin: 0 auto;
  position: relative;
  width: 75%;
}

:local .content {
  font-size: 1.5rem;
  left: 0;
  padding: 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
