:local .selectTiles {
  position: relative;
  text-align: center;
}

:local .note {
  margin-top: 20px;
  font-size: 1.25rem;
}

:local .overlay {
  background: rgba(255, 255, 255, 0.95);
  content: ' ';
  display: none;
  height: 100%;
  left: 0;
  padding-top: 100px;
  position: absolute;
  top: 0;
  width: 100%;
}

:local .overlayUploading {
  display: block;
}

:local .tiles {
  margin: 15px auto 0;
}

:local .tiles img {
  margin: 5px;
  height: 50px;
  width: 50px;
}

@media (min-width: 992px) {
  :local .tiles {
    width: 85%;
  }

  :local .tiles img {
    height: auto;
    width: auto;
  }
}
