:local .selectTiles {
  position: relative;
}

:local .overlay {
  background: rgba(255, 255, 255, 0.95);
  content: ' ';
  display: none;
  height: 100%;
  left: 0;
  padding-top: 100px;
  position: absolute;
  top: 0;
  width: 100%;
}

:local .overlayUploading {
  display: block;
}

:local .tiles {
  margin: 15px auto 0;
  text-align: center;
  width: 810px;
}

:local .tiles img {
  margin: 5px;
}
